body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url('img/sign.png') ;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	}

.in{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
	background: transparent;

}	
.in h1{
	color: white;
	margin-bottom: 30px;


}
.box1{
	border-radius: 20px;
	padding: 10px;
	margin: 10px -10px;
	width: 100%;
	border: 1px solid #999;
	outline: none;
}
.l-btn{
	background-color: #e6e6e6;
	border-radius: 20px;
	padding: 10px;
	margin: 10px -10px;
	width: 100%;
	border: 1px so